@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    /* padding-right: 8%;
    padding-left: 8%; */
}

/* main {
    padding-right: 8%;
    padding-left: 8%;

}
 */
.section {
    padding: 3rem 0 2.5rem;
}

button {
    cursor: pointer;
}

.grey {
    color: #A1A1A1;
}

.blue {
    color: #0089EC;
}


/* ---------------------------NAV------------------------------ */

.container {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    background-image: url(images/home-bg.png);
    background-position: center;
    padding-right: 8%;
    padding-left: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.header {
    margin-top: 25px;
    width: 100%;
}

nav {
    text-align: center;
}

.navbar {
    display: flex;
    padding-left: 0rem;
    overflow: hidden;
}
.nav-ul{
    display: flex;
    width: 100%;
}


.navbar ul li {
    list-style: none;

    margin-right: 0px;
    margin-left: 50px;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
}

.navbar ul li a:hover {
   color: #0089EC;
}

.nav_header {
    height: 13vh;
    width: 100%;
    display: flex;
    align-items: center;justify-content: space-evenly;
    padding-right: 8%;
    padding-left: 8%;
    top: 0;
    position: sticky;
    background: #fff;
    box-sizing: border-box;
    /* box-shadow: 0 4px 0px 0 rgba(0, 0, 0, .4); */
    box-shadow: 2px 3px 8px #888888;
}


.nav_button img {
    cursor: pointer;
}

.navbar .side_bar {
    text-align: right;
    margin-left: 180px;
}

.hamburger {
    display: none;
    float: right;
  }

.phone_btn {
    border: #fff;
    background-color: transparent;
    padding-right: 30px;
}

.share_btn {
    cursor: pointer;
}


/* .home_bg {
    display: flex;
    margin: auto;
    height: 85vh;
    z-index: 1000;
    background-size: cover;
    background-position: center;
} */


/* -------------Home Page--------------- */

.hm_content {
    margin-top: 15%;
}

.cv_btn {
    background-color: #fff;
    color: #0089EC;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    margin-left: 20px;
}

.get_btn {
    background-color: #0089EC;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    text-decoration: none;
}

.home_page_content {
    display: flex;
}

.hm_links a {
    box-shadow: 2px 3px 8px #888888;
}

.hm_image {
    width: 350px;
    margin-top: 50px;
    margin-left: 250px;
}

.hm_image_div {
    display: block;
    box-sizing: border-box;
}


/* ---------------------ABOUT PAGE---------------------- */

.about_page {
    background: rgba(161, 161, 161, 0.05);
    width: 100%;
}

.about_page_header {
    text-align: center;
    padding-top: 80px;
}

.about_page_content {
    display: flex;
    /* background: #A1A1A1;
    width: 100%; */
}

.about_avi {
    margin-top: 150px;
    margin-left: 100px;
}

.about_avi img {
    width: 250px;
}

.ab_content {
    margin-left: 200px;
    margin-top: 40px;
    padding-bottom: 100px;
}

.ab_skills {
    display: flex;
}

#ul-2 {
    margin-left: 50px;
}

#ul-1,
#ul-2 {
    flex: 1;
    margin: 0;
    padding: 0;
}

.about_date_div {
    display: inline-block;
}

span.ab_date {
    text-align: right;
    justify-self: right;
    justify-content: space-between;
    justify-items: right;
}


/* ------------------PROJECTS PAGE----------------------- */


/* .section .projects_page {
    padding-top: 0;
} */

.projects_page {
    display: flex;
    padding-top: 30px;
}

.projects_page_header {
    display: inline-block;
    padding-right: 60%;
    padding-left: 8%;
}

.view_pj {
    background-color: #0089EC;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}

.pj_images {
    display: block;
    padding-top: 30px;
}

.pj_images img {
    width: 330px;
}

.pj_images li {
    list-style: none;
    display: inline-block;
    margin-right: 0px;
    margin-left: 70px;
}

.pj_links {
    text-decoration: none;
    color: #0089EC;
}

.pj_text {
    margin-top: auto;
    margin-top: 50px;
    margin-bottom: -70px;
    text-align: center;
}


/* ----------------------CONTACTS PAGE-------------------- */

.contacts_page {
    background: rgba(161, 161, 161, 0.05);
    width: 100%;
    margin-top: 100px;
}

.contacts_header {
    padding-top: 50px;
    text-align: center;
}

.contacts_header span {
    font-size: medium;
    font-weight: normal;
    color: #A1A1A1;
}

.contacts_page_content {
    display: flex;
}

.contact_text {
    margin-top: 100px;
    margin-left: 100px;
}

.contact-img {
    width: 200px;
    margin-top: 90px;
}

.ct_page-line {
    border-left: 1px solid #0089EC;
    height: 75vh;
    margin: 50px 50px 0px 50px;
    margin-bottom: 150px;
}

.ct_social_media {
    padding-top: 130px;
}

.ct_social_media li {
    display: inline-block;
    list-style: none;
}

.ct_links {
    text-align: center;
}

.sm-2 {
    padding-left: 20px;
}


/* -----------------------THANKS PAGE-------------------------- */

.thanks_page {
    height: 68.7%;
}

.thanks_header {
    text-align: center;
    margin-top: 50px;
}

.thanks_page_content {
    display: flex;
    justify-self: right;
    margin-top: 100px;
    margin-left: 100px;
}

.thanks-img {
    margin-left: 450px;
}

.thanks_page_content img {
    width: 300px;
    /* float: right;
    margin-left: 10px; */
}

footer {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    height: 35vh;
    display: block;
    background-color: rgba(0, 137, 236, 0.2);
}

.footer-head {
    text-align: center;
}

.footer_logo {
    margin-top: 50px;
}

.navbar-1 {
    text-align: center;
}

.navbar-1 ul li a {
    text-decoration: none;
    color: #000;
}

.navbar-1 ul li {
    text-align: center;
    display: inline-block;
    margin-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 30px;
}

.footer_fill {
    display: flex;
    overflow: hidden;
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 50px;
}

.bot {
    width: 30vw;
}

.footer_text {
    position: relative;
    z-index: 1000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    width: 100vw;
    max-width: 100%;
    /* -webkit-box-pack: justify; */
    /* -webkit-justify-content: space-between; */
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.copyright {
    color: #A1A1A1;
}

.tcpp {
    display: block;
    padding-left: 10px;
}

.tcpp a {
    text-decoration: none;
    color: #A1A1A1;
    align-items: right;
}

/* For screens smaller than 768px (mobile devices) */
@media only screen and (max-width: 767px) {
    .navbar {
        display: flex;
      padding-left: 0;
    }
    .navbar ul li {
      display: block;
      text-align: center;
      margin: 0;
    }
    .navbar ul li a {
      display: block;
      padding: 10px;
    }
    .nav_button img {
      display: none;
    }
    .phone_btn {
      display: inline-block;
    }
    .nav_header {
        width: 100%;
        box-shadow: 0px 3px 8px #888888;
    }
  }
  
  /* For screens between 768px and 1023px (tablets) */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .navbar ul li {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
  
  /* For screens larger than 1023px (desktops) */
  @media only screen and (min-width: 1024px) {
    .container {
      padding-right: 12%;
      padding-left: 12%;
    }
    .navbar ul li {
      margin-left: 70px;
      margin-right: 0;
    }

    .thanks_page {
        height: 68.7vh;
    }


  }
  
  @media screen and (max-width: 768px) {

    .navbar {
        display: flex;
      padding-left: 0;
    }
    .navbar ul li {
      display: block;
      text-align: center;
      margin: 0;
    }
    .navbar ul li a {
      display: block;
      padding: 10px;
    }
    .nav_button img {
      display: none;
    }
    .phone_btn {
      display: inline-block;
    }
    .nav_header {
        width: 100%;
        box-shadow: 0px 3px 8px #888888;
    }

    nav ul {
      display: none;
    }
    
    nav li {
      display: inline-block;
      margin: 0 5px;
    }

    .side_bar {
        display: none;
    }
    
    .hamburger {
      display: block;
      background-color: #ffffff;
      color: black;
      float: right;
      /* padding: 14px 16px; */
      padding-left: 200px;
      text-decoration: none;
      font-size: 18px;
      cursor: pointer;
    }
    .hm_image_div {
        display: none;
    }

    .about_page_content {
        display: inline-block;
        padding-right: 50px;
        /* background: #A1A1A1;
        width: 100%; */
    }

    .about_avi {
        margin-top: 30px;
        margin-left: 70px;
        }
    
    
    .ab_content {
        margin-left: 90px;
        margin-top: 40px;
        padding-bottom: 100px;
    }

    #ul-1,
#ul-2 {
    flex: 1;
    margin: 0;
    padding: 13px;
}

    .projects_page_header {
        display: inline-block;
        padding-right: 10%;
        padding-left: 8%;
    }

    .view_pj {
        border: none;
        border-radius: 10px;
        font-size: 0.8rem;
        padding: 0.4rem;
        padding-top: 10px;
        margin-left: 10px;
        cursor: pointer;
    }
    
    

    .contacts_page_content {
        display: block;
    }

    .contact_text {
        margin-top: 50px;
        margin-left: 50px;
    }
    
    .contact-img {
        width: 200px;
        margin-top: 90px;
        margin-left: 50px;
    }
    
    .ct_page-line {
        display: none;
    }

    .ct_social_media p {
        text-align: center;
    }

    .thanks_page_content {
        display: block;
        justify-self: left;
        margin-top: 50px;
        margin-left: 50px;
        margin-bottom: 50px;
    }

    .thanks_page_content p {
        text-align: left;
    }

    .thanks-img {
    display: none;
    }

    .footer_fill{
        display: flex;
        padding-left: 15px;
    }

    .tcpp {
        display: flex;
        padding-left: 10px;
    }

    .tcpp a {
        justify-content: space-between;
        text-decoration: none;
        color: #A1A1A1;
        align-items: right;
    }

    .tccp .bot {
        padding-left: 20px;
    }

  }
